{{ "<!-- Header section -->" | safeHTML }}
<header id="header">
    <nav>
        <a href="https://faultycat.com.au">Home</a>
        <!-- {{ with .Site.Params.about.title }}<a href="#about-me">{{ . }}</a>{{ end }} -->
        <!-- {{ with .Site.Data.clients.title }}<a href="#services">{{ . }}</a>{{ end }} -->
        <!-- {{ with .Site.Params.contact.title }}<a href="#contact">{{ . }}</a>{{ end }} -->
    </nav>
    {{ with .Site.Params.header.title }}<h1><span>{{ . }}</span></h1>{{ end }}
    {{ with .Site.Params.header.shortBio }}<p class="kicker">{{ . }}</p>{{ end }}
<!-- </header> 
  <!-- <a class="header__branding" href="/">
    <!-- <img class="header__logo" src="logo.svg" alt="clouddeli logo"> 
    <h1 class="header__title">{{ .Site.Title }}</h1>
  </a> -->
  <div class="header__cart" style="text-align: right;">
    <a href="#" class="snipcart-checkout" style="text-decoration: none;">
      <div class="snipcart-summary">
        <span>🛒</span>
        <span class="snipcart-total-price"></span>
      </div>
    </a>
  </div>
</header>
