<header id="header">

    <!-- <nav class="nav-wrapper indigo darken-4"> -->
        <!-- <a href="https://faultycat.com.au">Home</a> -->
        <!-- {{ with .Site.Params.about.title }}<a href="#about-me">{{ . }}</a>{{ end }} -->
        <!-- {{ with .Site.Data.clients.title }}<a href="#services">{{ . }}</a>{{ end }} -->
        <!-- {{ with .Site.Params.contact.title }}<a href="#contact">{{ . }}</a>{{ end }} -->
    <!-- </nav> -->
    <!-- <nav class="nav-wrapper blue darken-4">
      <div class="brand-logo left">
        <ul>
          <li><h4><a href="https://www.faultycat.com.au">Home</a></h4></li>
        </ul>
      </div>

    </nav> -->
    {{ with .Site.Params.header.title }}<h1><a href="https://faultycat.com.au"><span>{{ . }}</span></a></h1>{{ end }}
    {{ with .Site.Params.header.shortBio }}<p class="kicker">{{ . }}</p>{{ end }}


  <!-- <a class="header__branding" href="/">
     <img class="header__logo" src="logo.svg" alt="clouddeli logo"> 
    <h1 class="header__title">{{ .Site.Title }}</h1>
  </a>  -->
<div class="nav-wrapper indigo lighten-4" style="text-align: right; padding-left: 30px; padding-right: 50px">
    <a href="#" class="snipcart-checkout" style="text-decoration: none;">
      <div class="snipcart-summary">
        <span>SHOPPING CART: 🛒</span>
        <span class="snipcart-total-price"></span>
      </div>
    </a>
  </div>
</header>