<!-- <section class="alt-section"> -->
<div class="product" style="padding-left: 30px; padding-right: 30px">
    <h3 class=".body h3" style="text-align: left;">{{ .name }}</h3>
    {{ with .image }}
      <img class="product__image" src="{{ . }}" alt="">
    {{ end }}
    <p class="product__description">{{ .description }}</p>
    <div class="product__button-container">
      <div class="product__price">${{ .price }}</div>
      <button
        class="snipcart-add-item buy-button"
        data-item-id="{{ .id }}"
        data-item-name="{{ .name }}"
        data-item-price="{{ .price }}"
        data-item-url="{{ .product_url }}"
        data-item-description="{{ .description }}">
        Add to cart
      </button>
    </div>
  </div>
<!-- </section> -->