<!-- <section class="alt-section">

<div class="product">
    <h3 class="product__name" style="text-align: left;">{{ .name }}</h3>
    {{ with .image }}
      <img class="product__image" src="{{ . }}" alt="">
    {{ end }}
    <p class="product__description">{{ .description }}</p>
    <div class="product__button-container">
      <div class="product__price">${{ .price }}</div>
      <button
        class="snipcart-add-item buy-button"
        data-item-id="{{ .id }}"
        data-item-name="{{ .name }}"
        data-item-price="{{ .price }}"
        data-item-url="{{ .product_url }}"
        data-item-description="{{ .description }}">
        Add to cart
      </button>
    </div>
</section> -->

<div class="col s6 container">
  <h5>{{ .name }}</h5>
  <div class="card horizontal">
      <div class="card-image">
      <img src="{{ .image }}">
      </div>
      <div class="card-stacked">
      <div class="card-content">
          <p>{{ .description }}</p>
      </div>
      <div class="card-action">
          <button
              class="snipcart-add-item waves-effect waves-light btn"
              data-item-id="{{ .id }}"
              data-item-name="{{ .name }}"
              data-item-price="{{ .price }}"
              data-item-url="{{ .url }}">
                  <i class="material-icons right">shopping_cart</i>
                  Add to cart
          </button>
      </div>
      </div>
  </div>
</div>